.display-container{
    display: grid;
grid-template-columns: 3fr 1fr;
}
.card-container{
    display: grid;
   
    margin-left:30px
}
.aside-style{
    position: sticky;
    right:0;
    margin-left: 10px;
    margin-right: 50px;
}
@media screen and (max-width:668px){
    .card-container{
        grid-template-columns:repeat(1,1fr);
    }
}
@media screen and (min-width:669px) and (max-width:992px){
    .card-container{
        grid-template-columns:repeat(2, 1fr); 
    }
}
@media screen and (min-width:993px){
    .card-container{
        grid-template-columns:repeat(3, 1fr); 
    }
}